@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.fa {
  color : white;
  padding:0 10px;
  border-left: 3px solid #333333;
}

.fa-facebook:hover{
  background-color:  #4444FF;
}
.fa-twitter:hover{
  background-color: #1DA1F2;
}
.fa-youtube:hover{
  background-color: #FF0000;
}
.fa-instagram:hover{
  background-color: #E32E7F;
}
.fa-search:hover{
  background-color: transparent;
}
.navbar{
  background-color: black;
  color : white;
}

/* .nav-link{
  border-left: 1px solid white;
  padding-right: 20px;
} */

.nav-item{
  padding: 0 8px;
  border-left: 3px solid #333333;
}

 a:hover{
  background-color: #0277BD;
  cursor: pointer;
  height: 100%;
}
.kora_online{
  border :none;
  font-size: 2rem;
}


/* The sidepanel menu */
ul{
  list-style-type: none;
  text-align: right;
}

.title {
  border-bottom: 1px solid #444444;
  padding-bottom: 5px;
  text-align:right;
}

.right-panel{
  background-color: #252525;
}

.right-panel a {
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #333333;
}

.left-panel{
  background-color: #333333;
}

.left-panel ul li {
  padding-bottom: 10px;
}


.row{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 25px;

}

.sidepanel {
    width: 0px;
    height: 92vh;
    margin-right: 0;
    position: absolute;
    bottom: 0;
    right: 0px;
    /* z-index: 1; */
    color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 1s all ease-in-out;

  }

.sidepanel a {
  margin-top: 50px;
   /* padding-right: 10px;  */
  text-align: right;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
   display: block;
  transition: 0.3s;
  /* border-bottom: 3px solid #333333; */
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 25px;
  margin-right: 15px;
  margin-bottom: 5px;
  /* margin-left: 50px; */
  background-color: #252525;
  color:white;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  /* background-color: #111; */
  color: white;
  /* padding: 10px 15px; */
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.content {
  height: 100vw;
  background-color: blue;
}



               /* Footer */
footer{
  width: 100vw;
  position: relative;
  bottom: 0;
  color: white;
}

.nav-footer{
  background-color: #333333;
}

/* for mobile */
@media screen and (max-width:799px) {

}
/* for ipad , tabs 800 */
@media screen and (min-width:800px) {

}
/* pc Sizes */
/* if (media == screen) && (minWidth> 1000px)  */
@media screen and (min-width:1280px) {

}
